<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('style/style.css')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
    <header>
        <div>
            <img id='logo' src='{{ asset('images/P5-Logo-01.png') }}' alt='logo NAO' />
        </div>
        <div>
            {% block connexion %}
                {% if is_granted('ROLE_USER')  %}
                    <span>{{ app.user.username|upper }}</span> <a href='{{ url("fos_user_security_logout") }}'><img id='deconnexion' src='{{asset('images/power.png')}}'/></a>
                {% else %}
                    {{ render(url("fos_user_security_login_min")) }}
                {% endif %}
            {% endblock %}
        </div>
    </header>
    <nav>
        <ul>
            <li><a href='{{ path('nao_accueil') }}'>Accueil</a></li>
            <li><a href='{{ path('nao_association') }}'>L'association</a></li>
            <li><a href='{{ path('nao_programme') }}'>Le programme</a></li>
            <li><a href='{{ path('nao_recherche') }}'>Recherche d'oiseaux</a></li>
             {% if is_granted('ROLE_NATURALISTE')  %}
            <li><a href='{{ path('nao_observation') }}#myObs'>Mes observations</a></li>
            <li><a href='{{ path('nao_membres_index') }}'>Utilisateurs</a></li>
             {% elseif is_granted('ROLE_ORNITHOLOGUE')  %}
            <li><a href='{{ path('nao_observation') }}#valideObs'>Mes observations</a></li>
             {% endif %}
        </ul>
    </nav>
    <section>
    {% block body %}{% endblock %}
</section>
<footer>
    <div>
        footer
    </div>
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>
