{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Modification d'un utilisateur</h1>

    {% if is_granted(roles.modification) %}
    {{ form_start(edit_form) }}
    
    <table class="new_record">
        <tr>
            <th>Pseudo</th>
            <td>{{ form_widget(edit_form.username) }}</td>
        </tr>
        <tr>
            <th>E-Mail</th>
            <td>{{ form_widget(edit_form.email) }}</td>
        </tr>
        <tr>
            <th>Activé</th>
            <td>{{ form_widget(edit_form.enabled) }}</td>
        </tr>
        <tr>
            <th>Mot&nbsp;de&nbsp;passe</th>
            <td>{{ form_widget(edit_form.password) }}</td>
        </tr>
        <tr>
            <th>Rôles</th>
            <td>{{ form_widget(edit_form.roles) }}</td>
        </tr>
    </table>
    
    

    <ul class="record_actions">
        <li>{{ form(edit_form) }}</li>
        <li>{{ form(delete_form) }}</li>
        <li>
            <a href="{{ path('nao_membres_index') }}">
                Retour
            </a>
        </li>        
    </ul>
            {{ form_end(edit_form) }}
    {% else %}
        Accès refusé
    {% endif %}
{% endblock %}
