{% trans_default_domain 'FOSUserBundle' %}
<span>&nbsp;
{% if error %}
    {{ error.messageKey|trans(error.messageData, 'security') }}
{% endif %}
</span>
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <input type="text" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username" value="{{ last_username }}" required="required" />
    <input type="password" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required" />
    <table>
        <tr>
            <td>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </td>
            </form>

            <td>
                <a href="{{ path('fos_user_registration_register') }}" id='button-inscription'>Inscription</a>
            </td>
        </tr>
    </table>